<div class="resume-prompt">
	<p>Import of the directory {{ prompt.path }} was interrupted. Resume?</p>
	<div id="status-message-{{ s.session_id }}" class="import-status-message"></div>
	<div class="resume-buttons">
		<form hx-post="/api/import/sessions/{{ s.session_id }}/prompts/{{ prompt.prompt_id }}/choose" hx-target="#status-message-{{ s.session_id }}" hx-swap="outerHTML">
			<input type="hidden" name="type" value="action">
			<input type="hidden" name="value" value="yes">
			<button type="submit">Yes</button>
		</form>
		<form hx-post="/api/import/sessions/{{ s.session_id }}/prompts/{{ prompt.prompt_id }}/choose" hx-target="#status-message-{{ s.session_id }}" hx-swap="outerHTML">
			<input type="hidden" name="type" value="action">
			<input type="hidden" name="value" value="no">
			<button type="submit">No</button>
		</form>
	</div>
</div>
