<dialog class="modal" x-data x-init="$el.showModal()" @close="$el.remove()"
	aria-labelledby="modal-title">
	<header class="modal-header">
		<strong 
			id="modal-title" 
			class="modal-title">
			{% block title %}{% endblock %}
		</strong>
		<form method="dialog">
			<button class="icon-button header-action" aria-label="Close">×</button>
		</form>
	</header>
	{% block content %}
	<div class="modal-body">{% block body %}{% endblock %}</div>
	<div class="modal-actions">{% block actions %}{% endblock %}</div>
	{% endblock %}
</dialog>
