<div id="import-{{ queue_id }}">
	<!-- <h3{{ path }} ({{ item_count }} items)</h3> -->
	{% if item.task.candidates %}
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Distance</th>
				<th>Artist -- Release</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for candidate in item.task.candidates %}
			<tr style="cursor: pointer;"
				hx-confirm="Are you sure, {{ candidate.info.name }} is the correct option?"
				hx-post="/api/import/{{ queue_id }}/choose"
				hx-target="#import-{{ queue_id }}"
				hx-include="this"
				hx-swap="outerHTML"
				hx-trigger:inherited-"click"
				>

				<td>{{ loop.index }}</td>
				<td>{{ "%.1f%%"|format((1 - candidate.distance.distance) * 100) }}</td>
				<td>{{ candidate.info.artist }} -- {{ candidate.info.name }}</td>
				<input type="hidden" name="type" value="candidate">
				<input type="hidden" name="value" value="{{ loop.index }}">
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No matching releases found.</p>
	{% endif %}

	<div>
		{% for choice in item.choices %}
		<form hx-post="/api/import/{{ queue_id }}/choose"
			  hx-target="#import-{{ queue_id }}"
			  hx-swap="outerHTML"
			>
			<input type="hidden" name="type" value="action">
			<input type="hidden" name="value" value="{{ choice.short }}">
			<button type="submit">{{ choice.long }}</button>
			{% if choice.short == "e" %}
			<input name="artist" placeholder="Artist">
			<input name="query" placeholder="Album/Track">
			{% elif choice.short == "i" %}
			<input name="mbid" placeholder="MBID">
			{% endif %}
		</form>
		{% endfor %}
	</div>
</div>


