{% extends "base.html" %}

{% block title %}Import - Beets-Jar{% endblock %}

{% block content %}
<div class="import-actions">
	<form hx-post="/api/import/start">
		<input type="hidden" name="path" value="/home/supermepsipax/Code/beets-jar/dev/downloads/test/Art of Doubt">
		<button type="submit">Test Import 1</button>
	</form>
	<form hx-post="/api/import/start">
		<input type="hidden" name="path" value="/home/supermepsipax/Code/beets-jar/dev/downloads/test/Art of Doubt (copy)">
		<button type="submit">Test Import 2</button>
	</form>
	<form hx-post="/api/import/start">
		<input type="hidden" name="path" value="/home/supermepsipax/Code/beets-jar/dev/downloads/test/Art of Doubt (another copy)">
		<button type="submit">Test Import 3</button>
	</form>
</div>
<div id="import-list" hx-get="/import/queues/stream" hx-trigger="load">
</div>
{% endblock %}
